.card {
    background-color: wheat;
    /* width: fit-content; */
    height: 180px;
    border-radius: 10px;
    margin: 5px;
}

.card-image {
    height: inherit;
    border-radius: 5px;
}

.true {
    background-color: aquamarine;
}
